extends ../layouts/layout

block content
    img(src='../../public/img.jpg',width='100%',height='100%')
    h2(style="color: #ffffff;position: fixed;top: 368px;left: 552px;margin: auto;font-size: 120px;text-align: center;") MEDI
    h2(style=" color: #ffffff;position: fixed;top: 498px;left: 602px;margin: auto;font-size: 40px;text-align: center;") a Saviour